body{
  background-color: #68A270;
  font-family: 'Rakkas', cursive;
}

h1{
  font-size: 75px;
  text-align: center;
}

h2{
  font-weight: bold;
  text-align: center;
}

p{
  font-size: 20px;
}

a{
  color: white;
}

a:hover {
  color: black;
}

ul{
  list-style: none;
}
